<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
         <!--Bootstrap-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--Custom CSS-->
    <link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
<header>
    <span class="banner_h">
        <img src="\images\travel.jpg" alt="Banner" height="200px" width ="980px" /> 
    </span>
</header>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><h2 class="center">Location App</h2></a>
</nav>

<nav>
    <a class="btn btn-primary btn-lg active" href="/register">Register</a>
    <a class="btn btn-primary btn-lg active" href="/login">Login</a>
    <a class="btn btn-primary btn-lg active" href="/">Home</a>
    <a class="btn btn-primary btn-lg active" href="/profile">Profile</a>
    <!--<a class="btn btn-primary btn-lg active" href="/logout">Logout</a>-->
    
</nav>

</body>