<body>
    <div class="main"> 
        <form action="/users/login" method="post">
           
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" size="40" autofocus><br><br>
            
            <label for="password">Password</i></label>
            <input type="password" name="password" id="password"  size="40" autofocus><br><br>
  
            <input type="submit" value="Login">
              
        </form>           
    </div>  
</body>
  
  